@page
@model Mission09_ht242.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks for your order!</h2>
    <p>You probably won't get an email with shipping information</p>

    <a class="btn btn-danger" asp-controller="Home">Return Home</a>     
</div>
